.wrapper {
  padding-top: 20px;
  margin: 0 10px 0 10px;
  background-image: url("../../images/tree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
